* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5rem 1rem;
  font-family: sans-serif;
  background-color: #f5f7fb;
}

/* App */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.check {
  background: none;
  border: none;
  cursor: pointer;

  background-color: #4d5b9e;
  width: 120px;
  height: 35px;
  border-radius: 10px;

  color: #f5f7fb;
  font-weight: 600;
  font-size: 11px;
}

/* Question */

.question {
  color: #293264;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

/* AnswerOption */

.answer-option {
  background: none;
  border-radius: 8px;
  max-width: 100px;
  height: auto;
  padding: 0.5rem;

  font-size: 12px;
  color: #293264;
  cursor: pointer;
  border: 0.8px solid #4d5b91;

  margin-top: 12px;
  margin-right: 13px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-option-selected {
  color: #293264;
  background-color: #d6dbf5;
  border: 0.8px solid #d6dbf5;
}

/* Quiz */

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.divider {
  color: #f5f7fb;
  outline: none;
  height: 0.8px;
  width: 400px;
}

/* Answers */

.answers-cont {
  display: flex;
}
